.text-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #343b40;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background: #fff;
    max-width: 100%;
    max-height: 300px;
  }
}
  